<div class = "articleList">
    <h1> Title: {{articleList.title}}</h1>
    <h2>Body: {{articleList.body}}</h2>
    <h2>Author: {{articleList.author}}</h2>
{{!--     <h2:Title Url: {{titleUrl}}</h2> --}}

</div>