<form method="POST" action="/articles/{{titleUrl}}?_method=PUT"></form>
<input type="hidden" name="{{title}}">
  Author: <input type="text" name ="{{author}}" ><br><br>
  Body: <input type="text" name="{{body}}"><br><br>
  <input type="submit" value="Submit">
</form>
