<form action="/products/{{titleUrl}}/?_method = PUT" method = "POST">
<input type="hidden" name="{{title}}">
  Author: <input type="text" name ="{{Author}}" ><br><br>
  Body: <input type="text" name="{{Body}}"><br><br>
  <input type="submit" value="Submit">
</form>
