<form action="/articles" method = "POST">
  Title: <input type="text" name ="title" ><br><br>
  Author: <input type="text" name="author"><br><br>
  Body: <input type="text" name="body"><br><br>
  <input type="submit" value="Submit">
</form>
