<div class = "productList">
    <h1> Name: {{productList.name}}</h1>
    <h2>Price: {{productList.price}}</h2>
    <h2>Inventory: {{productList.inventory}}</h2>
    <h2>Id: {{productList.id}}</h2>

</div>